.Mainchat
  .Mainchat__GroupInfo
    .Mainchat__GroupInfo__Group
      %p.Group__name Test
      .Mainchat__GroupInfo__Group__GroupMember
        %p.GroupMember__Member Member：
        %ul.GroupMember__List
          %li masa
          %li hoge
    .Mainchat__GroupInfo__Edit
      = link_to "Edit", "#", class: "Edit--btn" 

  .Mainchat__MessageList
    .Mainchat__MessageList__Chat
      .Mainchat__MessageList__Chat__User
        %p.User--name masa
        %p.User--timestamp 2020/6/5(Fri) 10:00:00
      %p.Chat--message おはよう！

  .Mainchat__MessageForm