.Sidebar
  .Sidebar__UserName
    .Sidebar__UserName__TopItems
      %p.TopItems__name masa
      %ul.TopItems__icon
        %li
        = link_to "#", class: "TopItems__icon--btn" do
          = icon('fas', 'edit', class: "icon--btn--create")
        %li
        = link_to "#", class: "TopItems__icon--btn" do
          = icon('fas', 'cog', class: "icon--btn--edit")

  .Sidebar__GroupList
    .Sidebar__GroupList__GroupChat
      %p.GroupChat--name techcamp
      %p.GroupChat--message まだメッセージがありません
    .Sidebar__GroupList__GroupChat
      %p.GroupChat--name techcamp
      %p.GroupChat--message まだメッセージがありません