.Mainchat{
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: $basewhite;
  &__GroupInfo{
    height: 100px;
    background-color: $basewhite;
    border: 1px solid $main-border-groupinfo;
    display: flex;
    justify-content: space-between;
    &__Group{
      padding: 35px 0 0 40px;
      p.Groupname{
        color: $baseblack;
        font-size: 20px;
        margin-bottom: 15px;
      }
      &__GroupMember{
        color: $basegray;
        font-size: 12px;
        display: flex;
        p.Member{
          font-size: 12px;
        }
        ul.MemberList{
          font-size: 13px;
          list-style: none;
          display: flex;
          li{
            margin-right: 5px;
          }
        }
      }
    }
    &__Edit{
      padding: 28px 40px 0 0;
      a.Edit--btn{
        width: 72px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        padding: 0px 20px;
        color: $btn-color;
        border: 1px solid $btn-color; 
        text-decoration: none;
        display: block;
      }
    }
  }

  &__MessageForm{
    height: 90px;
    width: 100%;
    background-color: $form-background;
    overflow: hidden;
    padding: 20px 50px 20px 40px;
    display: flex;
    .MessageForm{
      border: none;
      height: 50px;
      width: 100%;
      display: flex;
      position: relative;
      .message{
        height: 100%;
        width: 100%;
        padding: 0 45px 0 15px;
        color: $baseblack;
        border-style: none;
        display: block;
      }
      .message--image{
          line-height: 50px;
          font-size: 25px;
          display: block;
          position: absolute;
          right: 130px;
          .input--image{
            display: none;
          }
      }
      .send--btn{
        font-size: 16px;
        height: 50px;
        line-height: 50px;
        background-color: $btn-color;
        border: none;
        margin-left: 15px;
        padding: 0 30px;
        color: $basewhite;
      }
    }
  }
}
