* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  .Sidebar{
    width: 300px;
    height: 100vh;
    background-color: #253141;
    &__UserName{
      height: 100px;
      background-color: #253141;
      display: flex;
      justify-content: center;
      align-items: center;
      &__TopItems{
        height: 20px;
        width: 100%;
        padding: 0px 20px;
        color: white;
        display: flex;
        justify-content: space-between;
        p.TopItems__name{
          font-size: 16px;
          font-weight: bold;
        }
        ul.TopItems__icon{
          width: 60px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          list-style: none;
          .TopItems__icon--btn{
            margin-left: 5px;
            text-decoration: none;
            color: #ffffff;
          }
        }
      }
    }
    &__GroupList{
      height: calc(100% - 100px);
      background-color: #2f3e51;
      color: #ffffff;
      font-weight: bold;
      padding: 0 20px;
      &__GroupChat{
        padding: 20px 0 40px 0;
        p.GroupChat--name{
          font-size: 15px;
        }
        p.GroupChat--message{
          font-size: 11px;
        }
      }
    }
  }
  .Mainchat{
    width: calc(100vw - 300px);
    height: 100vh;
    background-color: #ffffff;
    &__GroupInfo{
      height: 100px;
      background-color: #ffffff;
      border: 1px solid #eeeeee;
      display: flex;
      justify-content: space-between;
      &__Group{
        padding: 35px 0 0 40px;
        p.Group__name{
          color: #333333;
          font-size: 20px;
          margin-bottom: 15px;
        }
        &__GroupMember{
          display: flex;
          color: #999999;
          font-size: 12px;
          p.GroupMember__Member{
          }
          ul.GroupMember__List{
            display: flex;
            list-style: none;
            li{
              margin-right: 5px;
            }
          }
        }
      }
      &__Edit{
        padding: 28px 40px 0 0;
        a.Edit--btn{
          display: block;
          width: 72px;
          height: 40px;
          line-height: 40px;
          font-size: 16px;
          padding: 0px 20px;
          color: #38aef0;
          border: 1px solid #38aef0; 
          text-decoration: none;
        }
      }
      

    }
    &__MessageList{
      height: calc(100% - 100px - 90px);
      background-color: #fafafa;
    }
    &__MessageForm{
      height: 90px;
      background-color: #d2d2d2;
    }
  }
}