* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;

  .Sidebar{
    width: 300px;
    color: #ffffff;
    font-weight: bold;
    &__User{
      height: 100px;
      background-color: #253141;
      display: flex;
      justify-content: center;
      align-items: center;
      &__TopItems{
        height: 20px;
        width: 100%;
        padding: 0px 20px;
        display: flex;
        justify-content: space-between;
        p.name{
          font-size: 16px;
          font-weight: bold;
        }
        ul.icon{
          width: 60px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          list-style: none;
          a.icon--btn{
            margin-left: 5px;
            text-decoration: none;
            color: #ffffff;
          }
        }
      }
    }
    &__GroupList{
      height: calc(100% - 100px);
      background-color: #2f3e51;
      // font-weight: bold;
      padding: 0 20px;
      &__Chat{
        padding: 20px 0 40px 0;
        p.name{
          font-size: 15px;
          margin-bottom: 5px;
        }
        p.message{
          font-size: 11px;
        }
      }
    }
  }

  .Mainchat{
    width: calc(100vw - 300px);
    height: 100vh;
    background-color: #ffffff;
    &__GroupInfo{
      height: 100px;
      background-color: #ffffff;
      border: 1px solid #eeeeee;
      display: flex;
      justify-content: space-between;
      &__Group{
        padding: 35px 0 0 40px;
        p.Group__name{
          color: #333333;
          font-size: 20px;
          margin-bottom: 15px;
        }
        &__GroupMember{
          display: flex;
          color: #999999;
          font-size: 12px;
          p.GroupMember__Member{
          }
          ul.GroupMember__List{
            display: flex;
            list-style: none;
            li{
              margin-right: 5px;
            }
          }
        }
      }
      &__Edit{
        padding: 28px 40px 0 0;
        a.Edit--btn{
          display: block;
          width: 72px;
          height: 40px;
          line-height: 40px;
          font-size: 16px;
          padding: 0px 20px;
          color: #38aef0;
          border: 1px solid #38aef0; 
          text-decoration: none;
        }
      }
      
    }
    &__MessageList{
      height: calc(100% - 100px - 90px);
      background-color: #fafafa;
      &__Chat{
        padding: 35px 0 46px 40px;
        &__User{
          display: flex;
          margin-bottom: 12px; 
          p.User--name{
            color: #333333;
            font-size: 16px;
          }
          p.User--timestamp{
            color: #999999;
            font-size: 12px;
            padding-left: 10px; 
          }
        }
        p.Chat--message{
          color: #434A54;
          font-size: 14px;
        }
      }
    }
    &__MessageForm{
      height: 90px;
      background-color: #d2d2d2;
      padding: 20px 50px 20px 40px;
      display: flex;
      form.MessageForm__TextArea{
        border: none;
        height: 50px;
        width: 100%;
        display: flex;
        position: relative;
        input.TextArea__message{
          height: 100%;
          width: 100%;
          padding: 0 45px 0 15px;
          color: #ffffff;
          border-style: none;
          display: block;
        }
        label.TextArea__image{
          line-height: 50px;
          font-size: 25px;
          display: block;
          position: absolute;
          right: 10px;
          input.input--image{
            display: none;
          }
        }
      }
      &__Send{
        font-size: 16px;
        height: 50px;
        line-height: 50px;
        background-color: #38AEF0;
        border: none;
        margin-left: 15px;
        padding: 0 30px;
        a.Send--btn{
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}