@mixin userfont{
  font-size: 16px;
  font-weight: bold;
}

$basewhite: #ffffff;

$baseblack: #333333;

$basegray: #999999;

$btn-color: #38aef0;

$side-user: #253141;

$side-grouplist: #2f3e51;

$main-border-groupinfo: #eeeeee;

$main-background: #fafafa;

$main-chatmessage: #434A54;

$form-background: #d2d2d2;


